<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>I have no idea what I'm doing!!!!!!!!</h1>
      <h4 class="subheader">lol</h4>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/tdawg.jpg" />
      <p>I love taco dogs</p>
      <p>Taco cats are better though</p>
    </div>
  </main>
</body>
</html>